@model FacultyInformation.Models.WorkHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Work History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Faculty.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <!-- Add other fields as needed -->

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkHistoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
